* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  margin-left: 0;
  margin-right: 0;
}

.main-row {
  margin-top: 30px;
}

/* For sidebar ===============================================================*/
.placeholder {
  height: 100%;
  margin-right: 30px;
  border: 1px solid lightgray;
}

/* For tiles =================================================================*/
a.tile {
  width: 250px;
  height: 330px;
  /* padding-right: 0;
  padding-left: 0; */
  padding: 5px;
}

.tile h1 {
  font-size: 1rem;
  color: #737373;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.tile p {
  margin-bottom: 0px;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  color: darkgray;
}

/* .tile .shop-name {
  font-size: .8rem;
} */

.tile .price {
  font-size: 1rem;
  color: black;
  text-decoration: underline;
}
